.CountrySelection {
  height: 100%;
  background-color: #fbfaf9;
  position: relative;
}

.CountrySelection-container,
.CountrySelection-container li,
.country-container {
  display: flex;
}

.CountrySelection-container {
  flex-direction: column;
  gap: 2em;
  background: #f8f8f8;
  min-height: 100vh;
}

.CountrySelection-container .titles {
  font-size: min(8vw, 51px);
  text-align: center;
  font-weight: 400;
  padding-top: 1em;
  z-index: 2;
}

.country-container {
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4em;
  padding: 0 2em 2em 2em;
  z-index: 2;
}

.choose-country {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 450px;
  width: 100%;
}

.choose-country > span {
  font-size: min(8vw, 38px);
}

.choose-country > img {
  width: 250px;
  align-self: flex-end;
}

.country-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 16px 12px;
  background: #ffffff;
  border-radius: 30px;
  align-self: center;
  max-width: 350px;
  width: 100%;
  min-width: fit-content;
}

.country-container li {
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}

.country-container li:hover {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 3px 4px 0px -1px #000000;
}

.country-container li > div {
  display: flex;
  align-items: center;
  gap: 37px;
}

.flag {
  width: 38px;
  height: 38px;
  min-width: 38px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.arrow {
  opacity: 0;
}

.country-container li:hover .arrow {
  opacity: 1;
}


.country-blob-left {
  max-width: 500px;
  min-width: 370px;
  top: -255px;
  left: -200px;
}

.country-blob-right {
  max-width: 700px;
  min-width: 550px;
  bottom: 400px;
  right: -400px;
}
