:root {
  height: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #fbfaf9;
}

#root,
main {
  height: 100vh;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

/**********************/
/**** Nothing Page ****/
/**********************/

.SplashPage {
  height: 100%;
  background-color: #f6f5ef;
  overflow: hidden;
}

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  height: 100%;
  font-size: min(8vw, 2.44em);
  font-weight: 500;
  margin: auto;
  /* -webkit-flex-direction: column;
  -webkit-align-items: center; */
}

.images-container {
  position: relative;
  animation: fadeIn 1.5s;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  max-height: 900px;
  max-width: 1150px;
  margin: auto;
  justify-items: center;
  -webkit-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  width: 67%;
  max-width: 700px;
  height: 87%;
  z-index: 3;
  animation: fadeIn 1.5s;
  grid-row-start: 5;
  grid-row-end: 16;
  grid-column-start: 4;
  grid-column-end: 22;
}

/* .splash {
  width: 100%;
  max-width: 489px;
  height: 100%;
  z-index: 2;
  animation: fadeIn 1.5s;
  grid-row-start: 5;
  grid-row-end: 16;
  grid-column-start: 4;
  grid-column-end: 22;
} */

.probably-nothing {
  white-space: nowrap;
  max-width: fit-content;
  animation: imgFadeIn 2s;
  grid-row-start: 16;
  grid-column-start: 10;
  grid-column-end: 16;
  z-index: 3;
}

.capsules {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 100%;
  min-width: fit-content;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  padding: 0.5em 0.5em 0.5em 1em;
  font-size: min(3.3vw, 0.6em);
  white-space: nowrap;
  z-index: 4;
  gap: 1em;
  animation: imgFadeIn 2.5s;
}

.cross-icon {
  transform: rotate(45deg);
  font-size: min(3vw, 1em);
  font-weight: 100;
}

@keyframes imgFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.capsule-left {
  max-width: 215px;
  justify-self: left;
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 11;
}

.capsule-top {
  max-width: 289px;
  grid-row-start: 5;
  grid-column-start: 10;
  grid-column-end: 17;
  position: absolute;
  top: 2px;
}

.capsule-right {
  max-width: 195px;
  grid-row: 12;
  grid-column-start: 13;
  grid-column-end: 22;
}

.capsules img {
  width: min(3vw, 1em);
  max-width: none;
}

.blob-left {
  max-width: 500px;
  left: -300px;
  top: 150px;
}

.blob-top {
  max-width: 664px;
  left: 50px;
  top: -420px;
  min-width: 530px;
}

.blob-right {
  max-width: 664px;
  right: -400px;
  min-width: 530px;
}

@media screen and (max-width: 900px) {
  .capsule-left {
    grid-column-start: 6;
    grid-column-end: 11;
  }

  .capsule-right {
    grid-column-start: 14;
  }
}

@media screen and (max-width: 475px) {
  .capsule-left {
    grid-row-start: 10;
    grid-column-start: 4;
    grid-column-end: 10;
  }

  .capsule-top {
    grid-row-start: 7;
  }

  .capsule-right {
    grid-row-start: 11;
    grid-column-start: 15;
    grid-column-end: 23;
  }
}

.Blob {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  height: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.CountrySelection {
  height: 100%;
  background-color: #fbfaf9;
  position: relative;
}

.CountrySelection-container,
.CountrySelection-container li,
.country-container {
  display: flex;
}

.CountrySelection-container {
  flex-direction: column;
  gap: 2em;
  background: #f8f8f8;
  min-height: 100vh;
}

.CountrySelection-container .titles {
  font-size: min(8vw, 51px);
  text-align: center;
  font-weight: 400;
  padding-top: 1em;
  z-index: 2;
}

.country-container {
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4em;
  padding: 0 2em 2em 2em;
  z-index: 2;
}

.choose-country {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 450px;
  width: 100%;
}

.choose-country > span {
  font-size: min(8vw, 38px);
}

.choose-country > img {
  width: 250px;
  align-self: flex-end;
}

.country-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 16px 12px;
  background: #ffffff;
  border-radius: 30px;
  align-self: center;
  max-width: 350px;
  width: 100%;
  min-width: fit-content;
}

.country-container li {
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}

.country-container li:hover {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 3px 4px 0px -1px #000000;
}

.country-container li > div {
  display: flex;
  align-items: center;
  gap: 37px;
}

.flag {
  width: 38px;
  height: 38px;
  min-width: 38px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.arrow {
  opacity: 0;
}

.country-container li:hover .arrow {
  opacity: 1;
}

.country-blob-left {
  max-width: 500px;
  min-width: 370px;
  top: -255px;
  left: -200px;
}

.country-blob-right {
  max-width: 700px;
  min-width: 550px;
  bottom: 400px;
  right: -400px;
}
